@mixin fondoTransparente {
  background-color: transparent;
}

@mixin linkNoAzul {
  text-decoration: none;
}

@mixin paddingContainer {
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
}
