@import 'body';
@import 'variables';

* {
  margin: 0;
  padding: 0;
  background-color: $bg-color;
  color: $color-font;
}

footer > div {
  background-color: $bg-color2 !important;
}

.footerColBg {
  background-color: $bg-color2;
}

.footerColSobreNosotrosButton {
  background-color: transparent;
  border-color: $bg-color;
  border-radius: 9999px;
  color: $color-font3;
  padding: 0.6rem;
}

.footerColSobreNosotrosButton > a {
  @include linkNoAzul;

  background-color: transparent;
  color: $color-font3;
  font-size: 1rem;
}

.footerColSobreNosotrosDescription {
  background-color: transparent;
  color: $color-font3;
  font-size: 0.8rem;
  text-align: justify;
}

.footerColSobreNosotrosDivButton {
  background-color: transparent;
  display: flex;
  flex-direction: column;
}

.footerColSobreNosotrosTitle {
  background-color: transparent;
  color: $color-font3;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: left;
}

.footerContainer {
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
}

.headerCarouselButtonControl > span {
  @include fondoTransparente;
}

.headerDivCarouselButtons {
  @include fondoTransparente;
}

.headerImg {
  max-height: 450px;
}

.navContainer {
  justify-content: unset !important;
}

.navDivContainer {
  padding-left: 15px;
  padding-right: 10px;
}

.navItemBandera {
  height: 30px;
  padding-right: 15px;
  width: 30px;
}

.navLogo {
  height: 40px;
  // padding-left: 15px;
  width: 150px;
}

@media screen and (min-width: 768px) {
  .headerImg {
    min-height: 336px;
  }

  .navItem {
    display: flex !important;
    justify-content: flex-end !important;
    flex-direction: row;
  }
}

@media screen and (max-width: 768px) {
  .headerImg {
    min-height: 215px;
    width: 150% !important;
    background-position-x: 50%;
    background-position-y: 50%;
  }

  .navItem {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 25px;
  }
}
